:root{
    --grid-size:16;
}
body{
    min-width: 0;
    min-height: 0;
}
#main-div{
    width: 500px;
    height: 500px;
    text-align: center;
}
#container{
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    border-style: solid;
    border-width: 5px;
    max-width: 100%;
    max-height: 100%;
}
.inner-squares{
    width:100%;
    padding-top:100%;
    border-style: dashed;
    border-width: 1px;
}

.color-blue{
    background-color: blue;
}